/*------------------------------공통 부분 ---------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrap,
header,
section,
footer {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font: 12px;
  overflow-x: hidden;
  overflow-y: auto;
}

#wrap {
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*------------------------------Header 부분 시작 ---------------------------------------*/

header {
  background-color: white;
  position: fixed;
  z-index: 5;
  top: 0;
}

#header_top {
  height: 130px;
  display: flex;
  justify-content: center;
}
/* 로고 이미지  */
#logo {
  width: 130px;
  height: 132px;
  margin-top: 10px;
  background-image: url(../sources/icon/logo.png);
  background-size: cover;
}

#search {
  width: 40px;
  height: 40px;
  background-image: url('../sources/icon/search.png');
  background-size: cover;
  position: absolute;
  right: 170px;
  top: 65px;
}

#bar ul {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: black;
}
#bar a {
  color: white;
  margin: 0 8rem;
  font-size: 1.3rem;
  line-height: 40px;
}
.hide_menu {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  line-height: 25px;
  height: 0;
  opacity: 0;
  transition: all 1s;
}
.hide_menu > ul {
  margin: 8px 8rem;
}
.hide_menu > ul > li {
  text-align: center;
}
.hide_menu a {
  color: white;
  font-size: 1rem;
  text-align: center;
}
.hide {
  position: absolute;
  right: 250px;
  top: 75px;
  opacity: 0;
}
.hide > input {
  width: 120%;
}
#search_group {
  cursor: pointer;
}

.off {
  opacity: 1;
}

.on {
  height: fit-content;
  opacity: 1;
}
.search_box {
  /* overflow: hidden;
  opacity: 0; */
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  /* height: 0; */
  line-height: 25px;
  transition: all 1s;
}
.search_box > div > h2 {
  text-align: center;
  margin-bottom: 3%;
}
.search_box > div {
  padding: 3%;
}
#input_box {
  background-color: #fff;
  width: 600px;
  display: flex;
  margin-left: 35%;
}
#input_box > input {
  width: 550px;
  height: 45px;
  justify-content: start;
  border: none;
}

/*------------------------------Section 부분 시작 ---------------------------------------*/

section {
  height: 80%;
}

.null {
  height: 24%;
}

#main_section > #img01 {
  height: 80%;
  width: 80%;
  background: url(../sources/etc/main01.jpg) no-repeat center;
  background-size: cover;
  z-index: 2;
  margin: 1% auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
/* 서브 세션 부분 */
#sub_section {
  height: 332px;
  display: flex;
  justify-content: center;
}
#sub_section_title {
  margin-right: 15rem;
}
#sub_section_title > h1 {
  font-size: 40px;
  margin-bottom: 1rem;
}
#sub_section h2 {
  font-size: 25px;
  margin-bottom: 1rem;
}
#sub_section p {
  padding: 5px;
  font-size: 17px;
}
#sub_section_text {
  margin-left: 20rem;
}
#sub_section_text > p {
  margin-bottom: 0.3rem;
}
#sub_section > a > #instagram {
  /* position: fixed; */
  background: url(../sources/icon/instargram.png);
  width: 50px;
}

#instagram {
  width: 50px;
  height: 50px;
  background-image: url(../sources/icon/instargram.png);
  background-size: cover;
  position: fixed;
  right: 60px;
  bottom: 55px;
  cursor: pointer;
}
#instagram:hover {
  background-image: url(../sources/icon/instagramhover.png);
}

/*------------------------------Footer 부분 시작 ---------------------------------------*/
footer {
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  display: inline-block;
  margin: 30px 30px;
  padding: 30px 0;
}
#footer1 {
  display: flex;
  justify-content: center;
}
#footer2 {
  display: flex;
  justify-content: center;
  height: 38px;
}
footer span {
  font-size: 8px;
  margin: 0 5px;
}

#in_search {
  margin-top: 5%;
  margin-left: 15%;
  width: 60%;
  height: 30px;
  padding: 5px;
}
#in_img {
  background: url(../sources/icon/search.png);
  background-size: cover;
}
#btn_cn {
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
  background-color: #fff;
  border: none;
  font-size: 17px;
}
/* 미디어 쿼라 */

@media screen and (min-width: 320px) {
}

/*태블릿*/
@media screen and (min-width: 768px) {
}

/*데스크탑*/
@media screen and (min-width: 1024px) {
}
/* #modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#modal h2 {
  text-align: center;
}
#modal .modal_content {
  width: 750px;
  height: 200px;
  margin-left: 30%;
  margin-top: 5%;
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid #000;
  position: fixed;
}

#modal #modal_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
} */
