section {
  width: 100%;
  position: relative;
  margin-bottom: 350px;
  top: 300px;
}
/* section > p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
} */

#input_wrapper {
  width: 70%;
  height: 1100px;
  border: 1px solid black;
  /* box-shadow: 10px black; */
  background-color: white;
  margin: auto;
}

#input_header {
  width: 100%;
  position: relative;
}

#input_header > p:nth-child(1) {
  font-size: 45px;
  text-align: center;
  letter-spacing: 10px;
  padding: 20px;
}

#input_header > p:nth-child(2) {
  position: absolute;
  top: 60px;
  right: 30px;
  font-size: 13px;
}

#input_container {
  /* width: 100%; */
  position: relative;
  top: 50px;
  /* margin-top: 20px; */
  width: 90%;
  margin-left: 50px;
  line-height: 2rem;
}
.user_info {
  margin-bottom: 30px;
  position: relative;
}

.user_question {
  position: relative;
}

.user_name,
.user_tel,
.user_email {
  width: 100%;
  font-size: 14px;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.user_name [type='text'] {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
}

.user_tel input,
.user_email input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
}

.question_top {
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
}

.question_top select {
  width: 150px;
  margin-left: 10px;
  border: 1px solid black;
  height: 30px;
}

.question_middle {
  font-size: 14px;
  margin-bottom: 20px;
}

.question_middle input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
}

.question_bottom {
  font-size: 14px;
  margin-bottom: 20px;
}
.question_middle span {
  display: block;
}

.question_bottom span {
  display: block;
}

.question_bottom textarea {
  resize: none;
  width: 90%;
  height: 150px;
  border-radius: 5px;
  border: 2px solid black;
}

.private_info_box {
  line-height: 2;
  text-align: center;
}

.private_info_box p {
  font-size: 15px;
  text-align: left;
}

.private_info_box input {
  text-align: center;
  margin-top: 30px;
}

.private_info_box label {
  font-size: 15px;
  margin-right: 20px;
}

.submit_box {
  position: relative;
}

.submit_box button {
  width: 190px;
  height: 30px;
  position: absolute;
  top: 50px;
  left: 380px;
  background-color: seagreen;
  color: white;
}
